<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="index.css?v=0505">
  <title>POS开卡系统</title>
</head>
<body>
  <div id="app">
    <h2 class="title">POS开卡系统</h2>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="手机号" prop="mobile" size="small">
        <el-input v-model="ruleForm.mobile" type="number" placeholder="11位手机号" v-cloak></el-input>
      </el-form-item>
      <el-form-item label="开卡门店" prop="storeCode" size="small">
        <el-input v-model="ruleForm.storeCode" placeholder="填写门店code（请注意区分大小写）" v-cloak></el-input>
      </el-form-item>
      <el-form-item label="开卡导购" prop="clerkCode" size="small">
        <el-input v-model="ruleForm.clerkCode" placeholder="填写导购code（请注意区分大小写）" v-cloak></el-input>
      </el-form-item>
      <el-form-item label="姓名" size="small">
        <el-input @blur="nameBlur(ruleForm.name)" v-model="ruleForm.name" placeholder="1~10位字符" v-cloak></el-input>
        <div v-show="nameBool" class="el-form-item__error">
          只允许填写1~10位字符
        </div>
      </el-form-item>
      <el-form-item label="性别" size="small">
        <el-radio-group v-model="ruleForm.sex" v-cloak>
          <el-radio :label="1">男</el-radio>
          <el-radio :label="2">女</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="生日" size="small" class="birth-wrap">
        <el-select v-model="ruleForm.birType" placeholder="请选择" class="birth-type" style="width:100px;margin-right: 10px">
          <el-option label="农历生日" :value="0"></el-option>
          <el-option label="阳历生日" :value="1"></el-option>
        </el-select>
        <el-date-picker v-model="ruleForm.birVal" value-format="yyyy-MM-dd" type="date" placeholder="选择日期" ></el-date-picker>
      </el-form-item>
      <el-form-item style="margin:30px 0">
        <el-button size="small" type="primary" @click="submitForm('ruleForm')">确认开卡</el-button>
        <el-button size="small" @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://lib.baomitu.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://lib.baomitu.com/qs/6.6.0/qs.min.js"></script>
<script>
  // axios.defaults.baseURL =  'http://gicdev.com';
  new Vue({
    el: '#app',
    data: function () {
      var validPhone = (rule, value, callback) => {
        var isvalidPhone = /^1[3|4|5|6|7|8|9][0-9]\d{8}$/;
        if (!value) {
          callback(new Error('请输入手机号码'));
        } else if (!isvalidPhone.test(value)) {
          callback(new Error('请输入正确的11位手机号码'));
        } else {
          callback();
        }
      };
      return { 
        ruleForm: {
          mobile: '',
          storeCode: '',
          clerkCode: '',
          name: '',
          sex: 1,
          birType:0,
          birVal:''
        },
        rules: {
          mobile: [{ required: true, trigger: 'blur', validator: validPhone }],
          storeCode: [{ required: true, message: '请填写门店code', trigger: 'blur' }],
          clerkCode: [{ required: true, message: '请填写导购code', trigger: 'blur' }],
        },
        nameBool:false,
        dateValue:'', // 当前年月日时分秒
        token:'',
        factoryCode: '',
        entMicroSignal:'',
      }
    },
    mounted(){
      this.getUrlData()
    },
    methods: {
      getUrlData(){
        this.token = this.getQueryString('token') ? this.getQueryString('token') : this.token;
        this.factoryCode = this.getQueryString('factoryCode') ? this.getQueryString('factoryCode') : this.factoryCode;
        this.entMicroSignal = this.getQueryString('entMicroSignal') ? this.getQueryString('entMicroSignal') : this.entMicroSignal;
        this.getNowDate();
      },
      // 获取接口参数
      getQueryString(name) {   // 获取url参数
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
      },
      getNowDate() {
        let date = new Date();
        let year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;
        hour = hour < 10 ? '0' + hour : hour;
        minute = minute < 10 ? '0' + minute : minute;
        second = second < 10 ? '0' + second : second;
        this.dateValue = year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
      },
      // 名字失去焦点
      nameBlur(val){
        if (val!="") {
          if (val.length<11) {
            this.nameBool = false;
          } else {
            this.nameBool = true;
          }
        } else {
          this.nameBool = false;
        }
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm('确定为该会员开卡吗?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              axios.post('/open-api/addPosMemberWithCreateCard.json', Qs.stringify({
                token: this.token,
                factoryCode: this.factoryCode,
                entMicroSignal: this.entMicroSignal,
                memberDate: this.dateValue,
                mobile: this.ruleForm.mobile,
                storeCode: this.ruleForm.storeCode,
                clerkCode: this.ruleForm.clerkCode,
                name: this.ruleForm.name,
                sex: this.ruleForm.sex,
                birthday: this.ruleForm.birVal,
                birthType: this.ruleForm.birType,
              })).then((res) => {
                let _result = res.data.addPosMemberWithCreateCard_response;
                if (_result.result == "1") {
                  this.$message.success('开卡成功')
                } else {
                  this.$message.error(_result.cause)
                }
              }).catch((error) => {
                console.log(error);
              })
            }).catch(() => {
            });
          } else {
            return false;
          }
        });
      },
      // 重置表单
      resetForm(formName) {
        this.$refs[formName].resetFields();
        this.ruleForm.name = "";
        this.ruleForm.sex = 1;
        this.ruleForm.birType = 0;
        this.ruleForm.birVal = "";
        this.nameBool = false;
      }
    }
  })
</script>
</html>